body{
  background-color: black;
}
h1{
  color: white;
  font-family: arial;
  
}
h2{
  color:blue;
  font-family: Verdana;
}
h3{
  color:cyan;
  font-family: Times New Roman;
}
p{
  color:#00ff40;
  font-family: cursive;
}