.bob{
  text-align: center;
  background-color: green;
}
.howday{
  background-color: #eaeaea;
  color:#000033;
}
.tabbe{
  font-size: 1.2em;
  font-family: Verdana;
  text-decoration: italic;
}
.vapor{
 font-weight: bold;
text-decoration: italic;
}